SEARCH_API_KEY=your_serpapi_key_here
FACE_MATCH_THRESHOLD=0.40
RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_NETWORK=localhost
PRIVATE_KEY=your_hardhat_private_key_here
CONTRACT_ADDRESS=deployed_contract_address_here
